:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol,li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--clair);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

//page contact

#contacts {
  display: flex;
  text-align: center;
  line-height: 5rem;
}


// ajout contact

.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.wrapform {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem 0;
}
form input[type="text"], input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 16px 20px 15px -3px rgba(0,0,0,0.1);
  margin: 1rem 0;
}

form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 16px 20px 15px -3px rgba(0,0,0,0.1);
  min-height: 50px;
  max-height: 100px;
  resize: vertical;
  margin: 1rem 0;
}

form input[type="submit"] {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 16px 20px 15px -3px rgba(0,0,0,0.1);
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.5s;
}

form input[type="submit"]:hover {
  background-color: var(--bleu);
}

.error {
  
  color: red;
}



.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  padding: 1rem 0;
  background-color: var(--bleu);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

#colophon {
  background-color: var(--bleu);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}